body {
  font-family: Metropolis, sans-serif;
}

.about-content {
  padding: 140px 110px;
  background-color: #FFFFFF;

  .info-block {
    .info-block-title {
      font-weight: bold;
      font-size: 42px;
      color: #241F2D;
    }

    .info-block-content {
      p {
        font-weight: normal;
        font-size: 16px;

        color: #3F3B48;
      }

      padding: 40px 0;
    }

    .info-block-links {

      .info-block-link {
        font-weight: 600;
        font-size: 16px;
        color: #F54838;
        margin: 4px 0;
        padding-right: 45px;

        &:after {
          content: url(../img/arrow-t.png);;
          color: #F54838;
          vertical-align: middle;
          margin-left: 9px;
        }
      }
    }
  }

  .info-block-right-img {
    img {
      width: 100%;
    }
  }

}

.about-content-features {
  background: linear-gradient(180deg, #F3F6FB 0%, #FFFFFF 100%);
  padding: 140px 110px 220px;

  .features-block {
    .features-block-title {
      font-weight: bold;
      font-size: 42px;
      color: #241F2D;
      text-align: center;
      margin: 0 auto;
    }
  }

  .features-block-content {
    .features-item {
      padding-top: 60px;
      padding-right: 40px;

      &:last-child {
        padding-right: 0;
      }

      .features-item-img {
      }

      .features-item-title {
        padding-top: 24px;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #241F2D;
      }

      .features-item-text {
        padding-top: 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 156%;

        color: #3F3B48;
      }
    }

  }
}

.goals-content {
  padding: 150px 110px 140px;
  .goals-block {
    padding: 120px 0 122px;
  }

}