@media only screen and (max-width: 768px) {
  body {

    .sign-up {
        #translator-info {
          .some-text {
            width: 500px;
          }
      }
    }
  }
}
@media only screen and (max-width: 565px) {
  body {
    .container{
      .some-text, .title{
        padding:0 20px;
      }
    }
    .sign-up {
      .tab-content {
        width: 400px;

        #translator-info {
          .some-text {
            width: 400px;
          }
        }
        #translatorTabContent {
          padding: 30px;
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  body {

    .sign-up {
      .tab-content {
        width: 320px;

        #translator-info {
          .some-text {
            width: 280px;
            font-size: 14px;
          }
        }
        #translatorTabContent {
          padding: 30px;
          margin-top: 30px;
        }
      }
    }
  }
}